<%= simple_form_for :user_sessions, url: user_sessions_path do |f| %>
    <div><%= f.input :email, input_html: { value: @email } %></div>
    <div><%= f.input :password %></div>
    <div><%= f.button :submit, 'Login' %></div>
<% end %>